/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
      }
      .container .credit {
        margin: 20px 0;
      }
      .checkbox { padding-right:10px; }
      iframe { margin:0 !important; }
      .well h6 { margin-top: 0; text-transform: uppercase; }


/* *********************************************************************************************************************
 * COLORES
 **********************************************************************************************************************/
@dark-gray: #545454;
@light-gray: #d0d0d0;

/* *********************************************************************************************************************
 * MAPA
 **********************************************************************************************************************/
#map-canvas {
  height: 600px;
  margin: 0;
  padding: 0;

  img { max-width: none; }
  label { width: auto; display: inline; }
}

.map_filters {
  margin-bottom: 20px;
}

/* *********************************************************************************************************************
 * NAVEGACION
 **********************************************************************************************************************/
.navigation {
  width: 100%;
  height: 100px;
  margin-bottom: 40px;
  color: #9c9c9c;

  ul.menuItems {
    width: 558px;
    margin: 0 auto;
  }

  ul.menuItems li {
    width: 150px;
    height: 100px;
    float: left;
    padding: 8px;
    margin-right: 20px;

    a {
      color: #9c9c9c;
      &:hover {
        color: @dark-gray;
      }
    }

    .arrow {
      visibility: hidden;
    }

    &.current {
      a {
        color: @dark-gray;
      }
      .arrow {
        visibility: visible;
      }
      background-color: @light-gray;
      color: @dark-gray
    }

    h4 {
      text-transform: uppercase;
      font-weight: bold;
    }

    p.description {
      font-weight: 300;
    }

    .section {
      height: 97px;
    }

  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid @light-gray;
    position: relative;
    top: 0px;
    left: 57px;
  }
}


/* *********************************************************************************************************************
 * CONTROLES
 **********************************************************************************************************************/
#time-slider {
  margin-bottom: 15px;
}

span.date {
  font-weight: bold;
}


/* *********************************************************************************************************************
 * FILTRO
 **********************************************************************************************************************/
#filter {
}

.unstyled a:hover {
  text-decoration: none;
}

.unstyled a [class^="icon-"], .unstyled a [class*=" icon-"] {
  color:#111;
}

.unstyled .unstyled {
  margin-left:20px;
}


/* *********************************************************************************************************************
 * AIRE
 **********************************************************************************************************************/

.ajax-loader {
  img {
    margin: 150px 365px
  }
}

svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}