html,body {
    height: 100%;
    font-size: 11px;
    overflow: hidden;
}

#map-canvas {
    height: 600px;
    margin: 0;
    padding: 0;

    img { max-width: none; }
    label { width: auto; display: inline; }
}